# Core Dependencies
python-dotenv==1.0.1

# Social Media APIs
atproto==0.0.56
twitter-openapi-python==0.0.29
tweepy-authlib==1.5.6

# Database
sqlalchemy==2.0.36
alembic==1.14.0

# Content Generation & AI
llama-index==0.12.9
llama-index-llms-openai==0.3.12
llama-index-vector-stores-chroma==0.4.1
llama-index-embeddings-gemini==0.3.0
google-generativeai==0.5.4
chromadb==0.6.1

# Web & Parsing
requests==2.32.3
beautifulsoup4==4.12.3
feedparser==6.0.11

# CLI
click
